<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheets %}
			<link id="theme-stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/flatly/bootstrap.min.css" rel="stylesheet">
			<link id="theme-stylesheet-var" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/flatly/_variables.min.scss" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "_partials/_header.html.twig" %}
		{% endblock %}

		{% block body %}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}
		{% endblock %}
	</body>
</html>
